// Dark theme
$color-sidebar-bg: #f7f7f7; //#F8F8F8
$color-sidebar-border: #ebebeb;
$color-sidebar-link: #4a4a4a;
$color-sidebar-submenu-bg: #ebebeb;
$color-sidebar-active-bg: #dcdcde;
$color-sidebar-active-color: #000;
$color-sidebar-caret-color: #f1f1f1;
$color-sidebar-submenu-link-color: $color-sidebar-link;
$color-sidebar-heading: #929292;
$color-sidebar-hover: #dcdcde;

$font-size-sidebar-link: 14px;
$padding-sidebar-link: 10px 0 10px 10px;
$sidebar-width: 228px;


#adminmenu,
#adminmenuwrap,
#adminmenuback{
	background-color: $color-sidebar-bg;
	width: $sidebar-width;
}

// @todo delete this as it's only to view the array when you're mucking with the menu
//#adminmenuback{display:none !important;}

#adminmenu{

	a{
		color: $color-sidebar-link;

		&:hover{
			background-color: $color-sidebar-hover;
			color: black;
		} // &:hover

	} // a

	li{

		>a.menu-top:focus{
			background-color: $color-sidebar-hover;
			color: black;

			div.wp-menu-image:before{
				color:black;
			}
		} // >a.menu-top:focus

		a.menu-top:active{
			background-color:black;
			color:white;
			border-left:5px solid white;

			div.wp-menu-image:before{
				color:white;
			}
		} // a.menu-top:active

	}// li

	li.menu-top{
		&:hover{
			background-color: $color-sidebar-hover;
			color:black;

			div.wp-menu-image:before,
			.dashicons-before{
				color:black;
			}
		}
	}

	li.opensub{

		>a.menu-top,
		&:hover{
			background-color: $color-sidebar-hover;
			color:black;
		}

		div.wp-menu-image:before{color:black;}

	} // li.opensub

	div.wp-menu-image:before,
	.dashicons-before{
		color: $color-sidebar-link;
	} // dashicons-before

	#collapse-menu{display:none;}



} // #adminmenu

/** SUBMENU **/
#adminmenu{
	.wp-submenu{
		width: $sidebar-width;
		background-color:#ebebeb;
		left:$sidebar-width;

		li{
			&.current{
				a{
					background-color:#c3bdbd;
					color:black;

					&:hover,
					&:focus{
						background-color:#c7c7c7;
						color:black;
						border-left-color:black;
					}
				} // a
			} // li &.current

			a{
				color: $color-sidebar-link;

				&:hover,
				&:focus{
					background-color:#c7c7c7;
					color:black;
					border-left-color:black;
				}
			} // a

		} // li

	} // .wp-submenu

	li{
		&.wp-has-current-submenu{

			ul>li>a{padding:10px 12px;}

			div.wp-menu-image:before{color:black;}

			a.wp-has-current-submenu{
				background-color:#c3bdbd;
				color:black;

				&:hover{
					background-color:#c7c7c7;
				}
			} // a.wp-has-current-submenu

		} // li.wp-has-current-submenu

	} // li (not submenu)

} // #adminmenu
/** end SUBMENU **/

/** Admin Menu Items **/
#adminmenu{

	li.menu-icon-dashboard{
		border-top:5px solid black;
	}

	li.toplevel_page_siteorigin{
		border-bottom:5px solid black;
	}

	li.menu-icon-appearance,
	li.toplevel_page_googlesitekit-dashboard,
	li.toplevel_page_elasticpress,
	li.menu-icon-users,
	li.menu-icon-tools,
	li.menu-icon-settings,
	li.toplevel_page_wp-mail-smtp,
	li.toplevel_page_wpseo_dashboard,
	li.menu-icon-plugins,
	li.toplevel_page_wpa0,
	li.toplevel_page_siteorigin,
	li.menu-icon-dashboard{
		border-left:5px solid black;
		border-right:5px solid black;

		a{
			background-color:#0071bc;
			color:white;
		} // a

		.wp-submenu{
			background-color:#4f94d4;
			left:218px;

			a{
				background-color:#4f94d4;
				&:hover,
				&:focus{
					background-color:#c7c7c7;
					color:black;
					border-left-color:black;
				}

				&:active{
					background-color:black;
					color:white;
					border-left:5px solid white;
				}
			} // a
		} // .wp-submenu

		&.wp-menu-open{
			.wp-submenu{
				left:0;
				width:218px;
			}
		}
	}
} // #adminmenu

/** Font Awesome Icons **/
/** If we go back to Dashicons just delete these lines and you'll get dashicons 	**/
/** instead of the custom icons listed below. 										**/
$font-size: 1.2em;
#adminmenu{

	.menu-icon-agency .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-page .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-post .dashicons-before:before{
		content: '\f1ea';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-meeting .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-event .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-payment .dashicons-before:before{
		content: '\f09d';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-staff-member .dashicons-before:before{
		content: '\f007';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-media .dashicons-before:before{
		content: '\f03e';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-issue .dashicons-before:before{
		content: '\f071';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.menu-icon-document .dashicons-before:before{
		content: '\f15c';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}


	.menu-icon-proud_location .dashicons-before:before{
		content: '\f041';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.toplevel_page_proud_dashboard .dashicons-before img{
		display:none;
	}

	.toplevel_page_proud_dashboard .dashicons-before:before,
	.menu-icon-dashboard .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.toplevel_page_proudsettings .dashicons-before:before{
		content: '\f085';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

	.toplevel_page_service-center .dashicons-before:before{
		content: '';
		display:inline-block;
		font-family: 'FontAwesome';
		font-size: $font-size;
	}

} // #adminmenu
