// Dark theme
$color-sidebar-bg: #f7f7f7; //#F8F8F8
$color-sidebar-border: #ebebeb;
$color-sidebar-link: #4a4a4a;
$color-sidebar-submenu-bg: #ebebeb;
$color-sidebar-active-bg: #dcdcde;
$color-sidebar-active-color: #000;
$color-sidebar-caret-color: #f1f1f1;
$color-sidebar-submenu-link-color: $color-sidebar-link;
$color-sidebar-heading: #929292;
$color-sidebar-hover: #dcdcde;

$font-size-sidebar-link: 14px;
$padding-sidebar-link: 10px 0 10px 10px;
$sidebar-width: 228px;


#adminmenu,
#adminmenuwrap,
#adminmenuback{
	background-color: $color-sidebar-bg;
	width: $sidebar-width;
}

// @todo delete this as it's only to view the array when you're mucking with the menu
//#adminmenuback{display:none !important;}

#adminmenu{

	a{
		color: $color-sidebar-link;

		&:hover{
			background-color: $color-sidebar-hover;
			color: black;
		} // &:hover
	} // a

	li.menu-top{
		&:hover{
			background-color: $color-sidebar-hover;
			color:black;

			div.wp-menu-image:before,
			.dashicons-before{
				color:black;
			}
		}
	}

	li.opensub{

		>a.menu-top,
		&:hover{
			background-color: $color-sidebar-hover;
			color:black;
		}

		div.wp-menu-image:before{color:black;}

	} // li.opensub

	div.wp-menu-image:before,
	.dashicons-before{
		color: $color-sidebar-link;
	} // dashicons-before

	#collapse-menu{display:none;}



} // #adminmenu

/** SUBMENU **/
#adminmenu{
	.wp-submenu{
		width: $sidebar-width;
		background-color:#ebebeb;
		left:$sidebar-width;

		li{
			&.current{
				a{
					background-color:#c3bdbd;
					color:black;

					&:hover,
					&:focus{
						background-color:#c7c7c7;
						color:black;
						border-left-color:black;
					}
				} // a
			} // li &.current

			a{
				color: $color-sidebar-link;

				&:hover,
				&:focus{
					background-color:#c7c7c7;
					color:black;
					border-left-color:black;
				}
			} // a

		} // li

	} // .wp-submenu

	li{
		&.wp-has-current-submenu{

			ul>li>a{padding:10px 12px;}

			div.wp-menu-image:before{color:black;}

			a.wp-has-current-submenu{
				background-color:#c3bdbd;
				color:black;

				&:hover{
					background-color:#c7c7c7;
				}
			} // a.wp-has-current-submenu

		} // li.wp-has-current-submenu

	} // li (not submenu)

} // #adminmenu
/** end SUBMENU **/
